:root {
  --color-highlight: #ff57b2;
  --color-heading: #f8f8f8;
  --color-background: #1a1d23;
  --color-info: #bbbbbb;
  --color-body: #d7d7d7;
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body {
background: var(--color-background);
color: var(--color-heading);
}



a,
button {
  cursor: pointer;
}

a {
 color: inherit;
 text-decoration: none;
}

button {
  cursor:pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 700
}

body,
input,
textarea,
select,
button {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

main {

}
